@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* make background color  */
*{
  font-family: "Russon One", sans-serif;
}
body{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.timer{
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #fff;
}
.nav{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}
#container{
  background-color: #fff;
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
}

.problem{
  margin: 20px 25px;

}
h2{
  text-align: center;
  margin-top: 0;
  padding: 30px;
  background-color: lime;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid black;
}
.questions{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: black;
  margin: 25px 10px;
}

.btn{
  text-align: left;
  margin: 10px;
  padding: 15px;
}
