@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root{
  --Russo-font: Russo One, sans-serif;
}
/************************************************/
/* Quiz Page
/************************************************/

*{
  font-family: "Russon One", sans-serif;
}
body{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/tech.jpeg");
  object-fit: cover;
  
  
}
#timer, 
#score, 
.final-score, 
.score-header{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: #fff;
  text-shadow: 0.3em  0.30em black,  -0.3em  -0.30em black;
  font-family: var(--Russo-font);
}
#timer{
  border-bottom: 5px solid #fff;
}
.nav{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
#quiz-container{
  background-color: #fff;
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
}

.question{
  margin: 20px 25px;
}
.quiz-title{
  text-align: center;
  margin-top: 0;
  padding: 30px;
  background-color: lime;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid black;
  font-family: var(--Russo-font);
}
.answers{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: black;
  margin: 25px 10px;
}

.answerBtn{
  text-align: left;
  margin: 10px;
  padding: 15px;
}

.score-btn, .home-btn{
  background-color: lime;
  font-size: 20px;
  font-family: var(--Russo-font);
}

/************************************************/
/* Home Page
/************************************************/

.title-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title{
  color: #fff;
  font-size: 50px;
  font-family: var(--Russo-font);
  text-shadow: 0.3em  0.30em black,  -0.3em  -0.30em black;
}
#start-btn{
width: 100px;
font-size: 20px;
font-family: var(--Russo-font);
font-weight: lighter;
}
/* this is the game over screen, it display with javascript*/
.over{
  color: lime;
  font-family: var(--Russo-font);
  font-size: 100px;
  border: 10px solid #fff;
  background-color: #433c3c;
}
/************************************************/
/* leaderBoard
/************************************************/

.leaderboard-title{
  color: #fff;
  font-size: 50px;
  font-family: var(--Russo-font);
  text-shadow:
  0.30em 0 black,
  0 0.30em black,
  -0.30em 0 black,
  0 -0.30em black;
}
.home-score{
  display: flex;
  margin-top: 9px;
  justify-content: center;
}
.current-scores{
 align-content: flex-start;
 padding: 10px;
}
.final-score, 
.score-header{
  font-size: 30px;
}
.current-scores > li{
  background-color: #fff;
  list-style: none;
  padding: 10px;
  border: 3px solid black;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--Russo-font);
}
#initials, 
#send-score{
  font-size: 20px;
}
#send-score{
  font-family: "";
  font-family: var(--Russo-font);
}



